<!doctype html>
<html>
    <head>
        <title>About</title>
        <meta charset="UTF-8" />
		<link rel="stylesheet" href="https://cdn.rawgit.com/WEB222-Samples/Utilities/master/bootstrap-md-grid/bootstrap-md-grid.css" type="text/css" />
        <link rel="stylesheet" href="css/site.css" type="text/css"/>
        
    </head>
    <body>
	<header>
        <div class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>About</h1>
				</div>
			</div>
		</div>
      </header>
     <nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> <a href="/"> Home </a> </li>
						<li> <a href="/about"> About </a> </li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
   <div class="container">
	   <div class="row">
				<section class="main col-md-12">
					<article>
					<h2>Stephen Ward - the developer</h2>
                    <div class = "aboutImage"><img src="fire.jpg" style="border:10px solid white" height="450px" width="550px" ></div>
					<p>Hi! I am Stephen, a current 3rd semester computer programming student at Seneca College. <br>The program is teaching me amazing things, such as how to become a MEAN stack web developer. 
                    <br>Apart from learning <i>JavaScript</i>, I also thoroughly enjoy programming with <i>C++</i>!<br> On my spare time, I am usually reading and testing new methods to code, or
                    working part-time as a flair bartender.</p>
                    <p> I hope you enjoy browsing my web app, and if you have any questions you can contact me at: <a href="mailto:sward15@myseneca.ca">my e-mail.</a></p>

					</article>
				</section>
		</div>
	</div>
   <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>&copy; Stephen Ward</h2>
			</div>
		</div>
	</div>
   </footer>
</body>
</html>